#* @implicitly included *#
#* @vtlvariable name="WebPath" type="org.esame.utils.Path.Web" *#
#* @vtlvariable name="Utils" type="org.esame.utils.CustomUtils.Utils" *#
#* @vtlvariable name="msg" type="org.esame.utils.MessageBundle" *#