#parse("/velocity/layout.vm")
#@mainLayout()
<div class="indexTitle">
    <p class="benvenuto">$msg.get("INDEX_HEADING")</p>
    <p class="benvenuto">$currentUser.getLastNameAndFirstName()</p>
</div>
<div class="row-3">
    #if($currentUser)
        <button type="button" class="btn btn-dark">
            <a href="$WebPath.getADD_MESSAGE()" style="color:white;  text-decoration: none;">Pubblica un Post</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="$WebPath.getALL_PUBLIC_MESSAGES()" style="color:white;  text-decoration: none;">Tutti i Post pubblici</a>
        </button>
    #end
</div>
#end