#parse("/velocity/layout.vm")
#@mainLayout()
    <h1>$msg.get("INDEX_HEADING")</h1>
    <h2></h2>
    <p>$msg.get("INDEX_PASSWORD_INFO")</p>
    <h2>$currentUser.getLastNameAndFirstName()</h2>
    <div class="row-3">
        #if($currentUser)
            <div class="col">
                <a href="/message/">Pubblica un Post</a>
            </div>

            <div class="col">
                <a href="">Tutti i Post pubblici</a>
            </div>


            <div class="col">
                <a href="">Tutti i tuoi Post</a>
            </div>
        #end
    </div>
#end
