#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" action="/register/" method="post">
    <p id="registrazioneUtente">Registrazione Utente</p>
    <label>Nome</label>
    <input
        type="text"
        name="firstname"
        placeholder="Nome utente"
        value="$!userDto.firstName"
        required="required"><br>
    <label>Cognome</label>
    <input
        type="text"
        name="lastname"
        placeholder="Cognome utente"
        value="$!userDto.lastName"
        required="required"><br>
    <label >Indirizzo Email</label>
    <input
        type="text"
        name="email"
        placeholder="Indirizzo email"
        value="$!userDto.email"
        required="required"><br>
    <label>Username</label>
    <input
        type="text"
        name="username"
        placeholder="Username"
        value="$!userDto.username"
        required="required"><br>
    <label>Password</label>
    <input
        type="password"
        name="password"
        placeholder="Password"
        value="$!userDto.password"
        required="required"><br>
    #if($errorMessage)
        <p class="bad notification">Errore: $errorMessage.message</p>
    #end

    <input type="submit" value="Registrati">
</form>
#end