#parse("/velocity/layout.vm")
#@mainLayout()
<form id="registerForm" action="/register/" method="post">

    <p>Registrazione Utente</p>
    <label>Nome</label>
    <input type="text" name="firstname" placeholder="nome utente" value="$!userDto.firstName" required><br>
    <label>Cognome</label>
    <input type="text" name="lastname" placeholder="cognome utente" value="$!userDto.lastName" required><br>
    <label>Indirizzo Email</label>
    <input type="text" name="email" placeholder="indirizzo email" value="$!userDto.email" required><br>
    <label>UserName</label>
    <input type="text" name="username" placeholder="Username" value="$!userDto.username" required><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="password" value="" required><br>

    #if($errorMessage)
        <p class="bad notification">Errore: $errorMessage.message</p>
    #end

    <input type="submit" value="Registra">
</form>
#end
